name: Test NPM Cache

on:
  push

env:
  NODE_VERSION: 16

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache-dir: ~/.npm

    - name: Install dependencies
      run: npm ci

    - name: Test npm cache
      run: |
        echo "Checking cache directory..."
        ls ~/.npm

        echo "Checking cache status..."
        npm cache verify
